/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  6
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/

flowVelocity         ({{ flow_velocity[0] }} {{ flow_velocity[1] }} {{ flow_velocity[2] }});
pressure             0;
turbulentKE          0.24;
turbulentOmega       1.78;

// ************************************************************************* //
