urllib3 >= 1.15
certifi
python-dateutil
frozendict
absl-py
numpy
scipy
git+https://github.com/inductiva/inductiva-utils.git
jinja2
tqdm
gmsh
meshio
vtk
xarray
matplotlib
imageio
imageio-ffmpeg
ipython
