urllib3 >= 1.15
certifi
python-dateutil
absl-py
numpy
scipy
git+https://github.com/inductiva/inductiva-data.git
git+https://github.com/inductiva/inductiva-utils.git
jinja2
tqdm
gmsh
meshio
vtk
xarray
ipython
