; Run parameters
integrator              = {{ integrator }}   ; integrator
nsteps                  = {{ nsteps }}       ; number of steps in simulation
dt                      = 0.002              ; 2 fs

; Output control
nstxout                 = {{ output_frequency }}                ; frequency to save coordinates 
nstvout                 = {{ output_frequency }}                ; frequency to save velocities 
nstenergy               = {{ output_frequency }}                ; frequency to save energies 
nstlog                  = {{ output_frequency }}                ; frequency to update log file 
nstxout-compressed      = {{ output_frequency }}                ; frequency to save coordinates in the compressed trajectory file
compressed-x-grps       = protein                               ; save only protein coordinates in the compressed trajectory file 

; Temperature coupling is on
tc-grps                 = system             ; single coupling group
ref_t                   = {{ ref_temp }}     ; reference temperature, in K
tau_t                   = 0.5                ; relaxation time constant for temperature coupling

; Bond constraints
constraints             = h-bonds            ; apply constraints to hydrogen bonds

; Parameters describing how to find the neighbors of each atom and how to calculate the interactions
nstlist		            = 2	                 ; Frequency to update the neighbor list and long range forces
coulombtype	            = PME		         ; Treatment of long range electrostatic interactions
pbc		                = xyz 		         ; Periodic Boundary Conditions (yes/no)
ns_type		            = grid		         ; Method to determine neighbor list (simple, grid)
