sphinx
sphinx-autobuild
sphinx_rtd_theme
sphinx-book-theme
sphinxcontrib-mermaid
myst-parser
sphinx-copybutton
sphinx-tabs
sphinx-togglebutton
sphinxcontrib-googleanalytics
sphinxext.opengraph
sphinx-sitemap
sphinx-reredirects
sphinxawesome-theme
