.banner {
  background-color: var(--cta-container-bg);
  padding: 1rem 3rem;
  border-radius: 12px;
  max-width: 1000px;
  margin: 1rem auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
	flex-wrap: wrap;
	border: var(--cta-container-border);
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  max-width: 60%;
}

#content .headline {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cta-container-text-color);
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

#content .subtext {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--purple-color);
  padding-top: 5px;
  padding-bottom: 0;
  margin: 0.25rem 0 0 0;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  text-align: center;
}

.primary {
  background-color: var(--purple-color);
  color: white;
  transition: background-color 0.3s;
}

.primary:hover {
  background-color: var(--purple-hover-color);
}

.btn-sub {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.9;
}

