title                   = MD with Nose-Hoover thermostat

; Run parameters
integrator              = {{ integrator }}    ; integrator type
nsteps                  = {{ nsteps }}        ; dt * nsteps = simulation ime in ps 
dt                      = 0.002               ; 2 fs

; Output control
nstxout                 = {{ output_frequency }}                ; frequency to save coordinates 
nstvout                 = {{ output_frequency }}                ; frequency to save velocities 
nstenergy               = {{ output_frequency }}                ; frequency to save energies 
nstlog                  = {{ output_frequency }}                ; frequency to update log file 
nstxout-compressed      = {{ output_frequency }}                ; frequency to save coordinates in the compressed trajectory file

; Temperature coupling is on
tcoupl                  = Nose-Hoover         ; Nose-Hoover thermostat
tc-grps                 = system              ; single coupling group
tau_t                   = 1                   ; time constant, in ps
ref_t                   = {{ ref_temp }}      ; reference temperature, in K

; Pressure coupling is off
pcoupl                  = no                  ; no pressure coupling in NVT

; Periodic boundary conditions
pbc                     = xyz                 ; 3-D PBC

; Velocity generation
gen_vel                 = yes                 ; assign velocities from Maxwell distribution
gen_temp                = {{ ref_temp }}      ; temperature for Maxwell distribution
gen_seed                = -1                  ; generate a random seed
