/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  8
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "constant";
    object      fvOptions;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

disk1
{
    type            actuationDiskSource;

    fields      (U);

    selectionMode   cellSet;
    cellSet         actuationDisk1;
    diskDir         ({{ wind_flow_dir[0] }} {{ wind_flow_dir[1] }} {{ wind_flow_dir[2] }});    
    Cp              0.386;
    Ct              0.58;
    diskArea        40;
    upstreamPoint   ({{ flow_position[0] }} {{ flow_position[1] }} {{ flow_position[2] }});
}


// ************************************************************************* //
