{% extends "!layout.html" %}

{% block extrahead %}
{{ super() }}
<!-- Charset -->
<meta charset="UTF-8">

<!-- Viewport for responsive design -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- SEO meta tags -->
<meta name="description" content="{{ project_description }}">
<meta name="keywords" content="{{ keywords | default('documentation, Inductiva.AI') }}">
<link rel="canonical" href="{{ project_url }}{{ pathto('', 1) }}">

<!-- OpenGraph tags -->
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ project_url }}{{ pathto('', 1) }}">
<meta property="og:description" content="{{ project_description }}">
<meta property="og:image" content="{{ ogp_image }}">

<!-- Twitter Card meta tags (optional but recommended) -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ project_description }}">
<meta name="twitter:image" content="{{ ogp_image }}">
{% endblock %}

{% block extrabody %}
{{ super() }}

<!-- Add discord button -->
<script>
    const sidebar = document.querySelector("#left-sidebar") || document.querySelector("aside");
    if (!sidebar) {
        console.warn("Sidebar não encontrado.");
        return;
    }
    const btn = document.createElement("a");
    btn.href = "https://discord.gg/N2zaGyWm";
    btn.className = "custom-sidebar-button";
    btn.textContent = "Join our Discord";

    sidebar.appendChild(btn); 
</script>

<!-- discord button -->
<style>
    .md-header__button {
        margin-left: 1rem;
        padding: 0.4em 0.8em;
        background: #2196f3;
        color: white;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
    }

    .md-header__button:hover {
        background: #1976d2;
    }
</style>
{% endblock %}